# Database Configuration
DB_HOST=localhost
DB_PORT=5432
DB_NAME=betbattlebot
DB_USER=postgres
DB_PASSWORD=postgres

# Telegram Bot
BOT_TOKEN=8083203512:AAETDOeWNqeBT7Cnr0ypBVSgZjiJ5fbW2g4

# Server Configuration
PORT=3000
NODE_ENV=development